<div class="logoArea">
  <div class="logo">LOGO</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-5">
        <li class="nav-item">
          <a class="nav-link" href="#">台幣存匯/轉帳 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">外幣存匯</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">信用卡</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">繳費繳稅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">基金信託</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">智能投資</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">證期投資</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">申請設定</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link" href="#">登出</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
