<div class="myContainer mt-5">
  <div class="leftArea">
    <div class="topArea d-flex">
      <div class="textArea d-flex">
        <p class="">免費跨轉剩餘次數 :3</p>
        <p class="ml-4 ">免費跨提剩餘次數 :5</p>
      </div>
      <div class="buttonArea d-flex">
        <div class="buttonBGCtoRight" [ngClass]="status ? 'buttonBGC' : 'buttonBGCtoRight'"></div>
        <button (click)="getDataChange(7);clickEvent();get7day()">近7天</button>
        <button (click)="getDataChange(28);clickEvent();get28day()">近28天</button>
      </div>
    </div>
    <div class="topAreaSub d-flex">
      <p class="">日期</p>
      <p class="ml-3">摘要 / 金額</p>
    </div>
    <div class="listArea">
      <app-list *ngFor="let el of dateSrc" [data]="el"></app-list>
    </div>
  </div>
  <div class="rightArea">
    <app-mychart [doughnutChData]="doughnutData"></app-mychart>
  </div>
</div>
